<!-- 
	stickittotheman
        
       _    ,`,
      (_\   |_|
       \_\  |_|    
       _\_\,/_|    
      (`\(_|`\|
     (`\,)  \ \
      \,)   | |    filter by Ethan Bloom
        \__(__|    site by Mary Karroqe

-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>stickittotheman</title>
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylin.css">
	</head>
	<body>
		<h1>stick it to the man</h1>
		
		<form action="upload" method="post" enctype="multipart/form-data">
	        <input type="file" name="file">
	        <input type="submit" value="Upload">
	    </form>
	</body>
</html>